<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.hoasen.qlsv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListAll"/>
        <activity android:name=".SearchID"/>
        <activity android:name=".StatMajor"/>
        <activity android:name=".StatAvg"/>
        <activity android:name=".ListMajor"/>
        <activity android:name=".SearchTopN"/>
        <activity android:name=".SearchTopNDisplay"/>
    </application>

</manifest>